* {
    box-sizing: border-box;
}
.clearfix {
    clear: both;
}
  
  
body {
    margin: 0;
    padding: 0;
}
    
.container {
    max-width: 1025px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid rgba(59, 59, 59, 0.295);
}
.header-flex {
    display: flex;
    justify-content: space-between;
  }
li {
    list-style-type: none;
}
.menu {
    display: flex;
}
.logo {
    text-transform: uppercase;
    font-weight: 600;
}
.link {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right-side i{
    padding-left: 15px;
    margin-top: 15px;
}
.main {
    position: relative;
}
.main-flex {
    display: flex;
    justify-content: space-between;
}
.title-left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
    margin-top: 164px;
}
.text-left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;

}
.subtext-left {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
}
.button-link {
    margin-top: 33px;
    margin-bottom: 189px;
}
.button {
    width: 80px;
    padding: 14px 22px 14px 22px;
    color: rgba(59, 59, 59, 0.295);
    border: 1px solid rgba(59, 59, 59, 0.295);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition-duration: 1s;
}
.button:hover {
    background-color: black;
    color: white;
    transition-duration: 1s;
}
.right-side-main {
    right: 0px;
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url("../images/table.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.intro {
    position: relative;
    border-top: 1px solid rgba(59, 59, 59, 0.295);
}
/* INTRO FIRST */
.about-main {
    position: relative;
    border-top: 1px solid  rgba(59, 59, 59, 0.295);
  }
  
  .image-table {
    left: 0px;
    position: absolute;
    width: 35%;
    height: 100%;
    background-image: url("../images/large_flash-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .about-use {
    float: right;
    margin-right: 7%;
}
.right-side-intro-second {
    margin-left: 8%;
}
.left-side-main {
    margin-left: 3%;
}
  
.title-us {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
    margin-top: 35px;
}
  
  .text-us {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
  }
  
  .button-link {
    margin-top: 33px;
    margin-bottom: 76px;
  }
  
  .link-button {
    width: 80px;
    padding: 17px 33px 19px 32px;
    color:  rgba(59, 59, 59, 0.295);
    border: 1px solid  rgba(59, 59, 59, 0.295);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 1s;
  }
  
  .link-button:hover {
    color: white;
    background-color: black;
    transition-duration: 1s;
  }
/* INTRO END */
.intro-flex {
    display: flex;
    justify-content: space-between;
}
.left-side-intro {
    left: 0px;
    position: absolute;
    width: 35%;
    height: 100%;
    background-image: url("../images/large_flash-0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.right-side-intro {
    float: right;
}
.title-right {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 70px;
}
.text-right {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 28px;
}
.button-intro {
    margin-bottom: 34px;
}
.intro-second {
    position: relative;
    border-top: 1px solid  rgba(59, 59, 59, 0.295);
}
.right-side-intro {
    right: 0px;
    position: absolute;
    width: 35%;
    height: 100%;
    background-image: url("../images/image17709.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.intro-gallery {
    border-top: 1px solid rgba(59, 59, 59, 0.295);
}
.gallery {
    text-align: center;
}
.title-gallery {
    font-family: "Gotham Black", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 22px;
}
.images {
    display: flex;
    justify-content: center;
}
.image {
    width: 100%;
    height: 300px;
}
.third-image {
    width: 100%;
    height: 300px;
}
.intro-features {
    position: relative;
}
.feautures {
    text-align: center;
    margin-top: 100px;
}
.title-features {
    font-family: "Gotham Black", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 22px;
}

.card {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid  rgba(59, 59, 59, 0.295);
    border-right: 1px solid rgba(59, 59, 59, 0.295);
}
.line {
    border-bottom: none;
}

.card-third {
    border-right: none;
}
.card-six {
    border-bottom: none;
    border-right: none
}
.card-fourth {
    border-bottom: none;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card i {
    font-size: 30px;
}
.title-write {
    font-family: "Gotham Black", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 22px;
}
.about-form {
    text-align: center;
}
.intro-form {
    display: flex;
    justify-content: center;
}
.form {
    position: relative;
    display: block;
    width: 580px;
}
.header-form {
    display: flex;
}
.form-name p{
    display: block;
}
.form-name input {
    padding: 8px 6%;
    margin-right: 10px;
    width: 187px;
}
.text-contact input{
    margin-left: 15px;
}
.select {
    padding: 6px 82% 6px 0;
}
.text-message {
    padding: 0 0 100px 0;
    width: 100%;
}
.flex-form {
    display: flex;
    justify-content: space-between;
}
.footer {
    border-top: 1px solid rgba(59, 59, 59, 0.295);
}
.footer-icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer-icon i{
    margin-left: 10px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 60px;
}
.footer-text {
    display: flex;
    justify-content: center;
}
.footer-text p{
    font-family: "Gotham Black", serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}
.first-block-image {
    position: relative;
}
.button-image {
    color: white;
    border: 1px solid white;
}
.descr {
    display: none;
    text-align: center;
}
.first-block-image:hover .descr {
    display:block;
    position:absolute;
    top: 80px;
    z-index:9999;
    left: 11%;
}
.descr h3{
    color: white;
}
.descr p{
    color: white;
}
@media (max-width: 1039px) {
    .card-second {
        border-right: none;
    }
    .card-fourth {
        border-right: none;
    }
    .card-third {
        border-right: 1px solid rgba(59, 59, 59, 0.295);
    }
    .card-fourth {
        border-bottom: 1px solid rgba(59, 59, 59, 0.295);
    }
    .right-side i{
        margin-right: 10px;
    }
    .right-side-intro-second {
        margin-left: 8%;
    }
}
@media (max-width: 697px) {
    .card {
        border-right: none;
    }
    .title-left {
        font-size: 31px;
    }
    .text-left {
        font-size: 9px;
    }

    .text-message {
        padding: 0 70% 100px 0;
    }
    .right-side-main {
        width: 42%;
    }
    .first-block {
        display: none;
    }
    .third-block {
        display: none;
    }
    .right-side-intro {
        width: 38%;
    }
    .right-side-intro-second {
        margin-left: 6%;
    }
    .about-use {
        float: right;
        margin-right: 0%;
    }
}
@media (max-width: 620px) { 
    .right-side-intro-second {
        margin-left: 3%;
    }
    .about-use {
        float: right;
        margin-right: 0%;
    }
}
@media (max-width: 605px) {
    .right-side {
        display: none;
    }
    .header-flex {
        justify-content: center;
    }
    .third-image {
        display: none;
    }
    .card-second {
        border-right: none;
    }
    .card-fourth {
        border-right: none;
    }
    .card-first {
        border-right: none;
    }
    .fourth-image {
        display: none;
    }
    .right-side i{
        margin-right: 5px;
    }
    .image {
        width: 100%;
        height: 262px;
    }
    .left-side-main {
        text-align: center;
        margin-left: 12px;
    }
    .right-side-main {
        background-position: center;
    } 
    .button-link {
        margin-top: 33px;
        margin-bottom: 30px;
    }
    
    .title-left {
        margin-top: 80px;
        font-size: 29px;
    }
    .text-left {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 28px;
    }
    .text-right {
        font-family: "Open Sans", sans-serif;
        font-size: 10px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 28px;
    }
    .right-side-intro-second {
        text-align: center;
        margin-left: 30px;
    }
    .title-us {
        margin-top: 55px;
    }
    .image-table {
        background-position: center;
        width: 50%;
    }
    .title-right {
        margin-top: 42px;
    }
    .text-us {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
    }

    .right-side-intro {
        right: 0px;
        position: absolute;
        width: 50%;
    }
    .card {
        text-align: center;
        padding: 19px;
    }
    .select {
        padding: 6px 79% 6px 0;
    }

    .card-third {
        border-right: 1px solid rgba(59, 59, 59, 0.295);
    }
    .form {
        width: 530px;
    }
    .form-name input {
        padding: 8px 6%;
        margin-right: 10px;
        width: 166px;
    }
    .form-name {
        margin-right: 3px;
    }
    .right-side-intro-second {
        margin-left: 8%;
    }
    .about-use {
        float: right;
        margin-right: 3%;
    }
}
@media (max-width: 599px) {
    .list-mobile {
        display: none;
    }
    .main-flex {
        flex-direction: column-reverse;
    }
    .right-side-main {
        position: relative;
        width: 100%;
        height: 400px;
        background-image: url("../images/table.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .image-table {
        position: relative;
        width: 100%;
        height: 400px;
        background-image: url("../images/large_flash-0.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .about-use {
        float: none;
        text-align: center;
        margin-right: 3%;
    }
    .select {
        padding: 6px 73% 6px 0;
    }

    .right-side-intro {
        position: relative;
        width: 100%;
        height: 400px;
        background-image: url("../images/image17709.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .intro-flex {
        flex-direction: column-reverse;
    }
    .image {
        width: 100%;
        height: 262px;
    }
    .images {
        display: block;
    }
    .flex-wrap {
        justify-content: center;
    }
    .first-image {
        position: relative;
        width: 100%;
    }
    .second-image {
        display: block;
    }
    .form {
        width: auto;
        text-align: center;
    }
    .text-contact input {
        margin-left: 6px;
    }
    .form-name input {
        width: 100%;
    }
    .text-message {
        padding: 0px 43% 100px 0;
    }
    .header-form {
        display: block;
    }
    .right-side-intro-second {
        text-align: center;
    }
    .card {
        border-bottom: 1px solid  rgba(59, 59, 59, 0.295);
        border-right: none;
    }
}
